<!-- <h1>10 Ways To Save Energy And Money</h1> -->
<app-page title="Tips" subtitle="These simple tips are a great way to reduce your carbon footprint">
  <h3>Use Your Thermostat</h3>
  <p>
    Turning up the temperature during the summer and turning it down during the winter are great strategies for putting your thermostat to work for your wallet.
    The DOE recommends setting the air conditioner at 74 degrees and the furnace at 68 to keep your house comfortable while reducing your energy costs and decreasing
    the demand on the energy grid. A programmable thermostat lets you make the house hotter or cooler during periods when you aren't home. This reduces the temperature
    difference between the exterior and interior of your house, which in turn reduces energy loss. If you don't have a programmable thermostat, you can manually adjust
    your existing unit.
  </p>

  <h3>Ceiling Fans</h3>
  <p>
    If you have ceiling fans in your house, turn them on and use them properly. According to Energy Star, a voluntary labeling program sponsored by the DOE and the
    U.S. Environmental Protection Agency (EPA), ceiling fans should be set to spin counter-clockwise in the summer, which pulls hot air up to the ceiling and away from
    the living space. In the winter, reverse the setting so the fans blow the hot air down.
  </p>

  <h3>Energy Star Appliances</h3>
  <p>
    Energy Star also identifies energy-efficient appliances, including washers, dryers, refrigerators, freezers, dishwashers, dehumidifiers, room air conditioners,
    computers and more. When you are shopping for new appliances, look for the Energy Star label and you can rest assured that the items you are purchasing will go
    a long way toward saving you some cash. The point here is to not increase the use of these items just because they are energy savers. This is much the same as
    concept low-fat food: consuming more defeats the purpose.
  </p>

  <h3>Home Electronics</h3>
  <p>
    Stereos, DVD players, televisions, kitchen appliances, and any other plugged-in appliances draw a small amount of power even when turned off. Large LCD and plasma
    televisions consume up to 400 watts of energy when in use and about four watts when not in use, according to the British Broadcasting Corporation. Use the surge
    suppressor to turn them completely off when not in use, or unplug these items until you really need them.
  </p>

  <h3>Energy-Efficient Light Bulbs</h3>
  <p>
    A quick and easy way to reduce your energy use is to replace existing incandescent lights with energy-efficient compact fluorescent lights. According to General
    Electric (NYSE:GE), compact fluorescent bulbs "use two-thirds less energy than standard incandescent light bulbs, and last up to 10-times longer." GE reports that
    using a 13-watt compact fluorescent in place of a 60-watt incandescent will result in a $30 savings in energy costs over the life of the bulb. Regardless of the
    bulbs that you use, turn them off when you leave the room. For laundry rooms, garages, basements and other little-used areas, consider the installation of timers
    that automatically turn off the lights after a preset amount of time - just in case you forget to shut them off.
  </p>

  <h3>Conserve Water</h3>
  <p>
    Low-flow fixtures that conserve water are available for your shower, faucets and toilets. In addition to installing these items, be sure to replace faucets that drip,
    fix toilets that leak and turn off the spigot when brushing your teeth or scrubbing dishes. Every drop of water that you save contributes to conservation of this valuable
    resource - and we're talking water here, not only money.
  </p>

  <h3>Seal and Insulate</h3>
  <p>
    A well-insulated house reduces the amount of money you will spend on heating and cooling. Start by checking out your attic. If your attic is unfinished, you shouldn't be
    able to see the floor joists. If you can see them, add more insulation. Also, be sure to fill in and seal any holes in your exterior walls, such as where pipes come into
    the house and around windows and doors. Wrap your hot water heater and exposed pipes with insulation to help them maintain the proper temperature.
  </p>

  <h3>Replace/Empty Your Filters</h3>
  <p>
    Change the filter on your furnace on a frequent basis. Many furnace manufacturers recommend doing it quarterly or even monthly to keep the unit operating at peak efficiency.
    Similarly, empty the lint filter on your dryer after every use. Even a small amount of lint reduces energy efficiency.
  </p>

  <h3>Close Doors and More</h3>
  <p>
    Don't waste energy. Close the doors on your refrigerator and house as quickly as possible. Keep fireplace dampers shut when not in use. Close the curtains to cover your windows
    at night. All of these little efforts help to conserve energy by preventing heat loss.
  </p>

  <h3>Use Your Surroundings</h3>
  <p>
    Strategically placed trees can help to reduce your heating and cooling costs. During the summer, trees provide shade. During the winter, trees provide a windbreak. Positioning large
    deciduous trees in the right places can reduce cooling costs up to 25%, according to the DOE. These deciduous trees should be planted on the south and west sides of your home and
    strategically positioned to shade hard surfaces, including driveways and patios, to maximize their impact. Because they lose their leaves in winter, they allow the sun to warm your
    house. Evergreen trees planted on the north side of your home will help to shield the house from cold winds in every season.
  </p>
</app-page>
