<h2 mat-dialog-title>About Us</h2>
<mat-dialog-content>
  <div class="text-center">
    <h3>Team Members</h3>
    <p><a href="https://github.com/hanselrd" tabindex="-1">Hansel De La Cruz</a></p>
    <p><a href="https://github.com/Slenderize" tabindex="-1">Chhayhout Chhoeu</a></p>
    <p><a href="https://github.com/thomastawadros" tabindex="-1">Thomas Tawadros</a></p>
    <p matTooltip="No GitHub profile">Rushabh Doshi</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
