<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Option Data Collection
    </mat-panel-title>
    <mat-panel-description>
      Please Enter Your Information About Yourself.
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Energy Company">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Location">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Season">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Average K/watt usage">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="How much does a k/w cost?">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Total Usage">
  </mat-form-field>
  <br>

</mat-expansion-panel>
