<app-page title="Statistics" subtitle="Here you can see the data you've entered">
  <div *ngIf="(authService.authState | async)">
    <h3>Electricity Bill History</h3>
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let bill">
            {{ bill.date.toLocaleString('en-us', { month: 'long', year: 'numeric' }) }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="kwh">
          <mat-header-cell *matHeaderCellDef> kWh </mat-header-cell>
          <mat-cell *matCellDef="let bill">
            {{ bill.kwh }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
          <mat-cell *matCellDef="let bill">
            ${{ bill.total }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <br>
    <button mat-raised-button color="primary" (click)="openAddEntryDialog()">
      Add Entry
    </button>
    <button mat-raised-button color="primary">
      Upload Bill
    </button>
  </div>
</app-page>
