.logo{
      display: block;
      margin: 0 auto;
      padding: 10px;
}

p{
  font-family: courier;
  font-size: 100%;
  padding: 10px;
}

.nation-card {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.nation-image {
  background-size: cover;

}

.app-card {
  width: 350px;
  display: block;
  margin: 0 auto;
}

.app-image {
  background-size: cover;
}

.buy-card {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.buy-image {
  background-size: cover;
}
