<div class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar class="mat-elevation-z6 header" color="primary">
    <button mat-icon-button (click)="appSidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <img src="assets/logo-small.png" alt="Energy Helper">
    </span>
    <span class="app-spacer"></span>
    <div *ngIf="(authService.authState | async)">
      <button mat-button [matMenuTriggerFor]="appMenu" matTooltip="User menu">
        <span>{{ (authService.user.data | async)?.providers[0].displayName }}</span>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-menu #appMenu>
    <button mat-menu-item>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="authService.logOut()">
      <span>Log out</span>
    </button>
  </mat-menu>
  <mat-sidenav-container fxFlex>
    <app-header></app-header>
    <mat-sidenav #appSidenav>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
